body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #bdf1e9;
    background: -webkit-linear-gradient(left, #bdf1e9 0%,#bdf1e9 34%,#bdf1e9 66%,#bdf1e9 100%); /* Chrome10+,Safari5.1+ */
    /*font-family: 'pt_sansregular';*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: steelblue;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.page-title {
    color: #000;
    /*font-family: 'oswald';*/
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
}

.readmore {
    background: #bdf1e9;
    color: #000;
    font-size: 20px;
    border: none;
    padding: 6px 15px;
    /*font-family: 'oswald';*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}



.post_ttl {
    color: #fff;
    /*font-family: 'oswald';*/
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

input.field {
    border: 1px solid #525252;
    background: #000;
    color: #fff;
}


#clipsform label:after {
    content: ":";
}



#clipsform input {
    clear: left;
    width: 100%;
    box-sizing: border-box;
}